<section id="question" class="little">

    <header>
        <h1><span class="">{{question}}</span></h1>
    </header>

    <article>
        <ul class="answers show{{answers.length}}">
            <li ng-repeat="element in answers">
                <a ng-click='submit("little",step,element)'>
                    <img class="pict" src="{{element.picture}}" />
                    <span class="text">{{element.text}}</span>
                </a>
            </li>
        </ul>
    </article>

    <footer class="step{{step}}"></footer>

</section>