<section id="question" class="little">

    <header>
        <h1><span class="">{{question}}</span></h1>
    </header>

    <article>
        <ul>
            <li><a ng-click="submit(1)"><img class="pict" src="http://placehold.it/300x300" /><span class="text">Lorem</span></a></li>
            <li><a ng-click="submit(2)"><img class="pict" src="http://placehold.it/300x300" /><span class="text">Ipsum</span></a></li>
            <li><a ng-click="submit(3)"><img class="pict" src="http://placehold.it/300x300" /><span class="text">Happiness</span></a></li>
        </ul>
    </article>

    <footer class="step{{step}}"></footer>

</section>